@charset "utf-8";

/*
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  WP-Card | Personal vCard & CV Resume Template
–––––––––––––––––––––––––––––––––––––––––––––––––

    - File           : style.css
    - Desc           : Template - Stylesheet
    - Version        : 1.1
    - Date           : 2017-03-23
    - Author         : CODASTROID
    - Author URI     : https://themeforest.net/user/codastroid

––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––


––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 Table of contents
–––––––––––––––––––––
01. Components
02. Preloader
03. Back to Top
04. Header Area
05. Hero Area
06. About Me Area
07. My Skills Area
08. Get Quote Area
09. Portifolio Area
10. Education Area
11. Pricing Table Area
12. Testimonial Area
13. Latest News Area
14. My Team Area
15. Contact Us Area
16. Subscribe Area
17. Blog Page
18. Page Error 404
19. Single Work Page
20. Footer Area
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––>>> Components  <<<–––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.lnr {
  font-weight: bold;
}
.block-quote {
  position: relative;
  font-size: 15px;
  background-color: #e6fff1;
  border-left-color: #2ed87b;
  margin: 20px 0 30px 20px;
  padding: 30px 30px 40px 30px;
}
.block-quote:after {
  font-size: 20px;
  bottom: 10px;
  color: #2ed87b;
  content: "\f10e";
  font-family: fontawesome;
  position: absolute;
  right: 30px;
}

/* Fix Bootstrap Media */
.media-object {
  max-width: none;
}
/* Styled Title */
.h-title {
  position: relative;
  padding-bottom: 0.85em;
}
.h-title:before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #f1f1f1;
}
.h-title:after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 2px;
  background: #2ed87b;
}

/* Social Icons */
.social-icons__item .fa {
  font-size: 15px;
  margin: 0;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 3px;
  color: #F5F5F5;
  background-color: rgba(49, 69, 85, 0.25);
}
.social-icons__item .fa:hover {
  background-color: rgba(49, 69, 85, 0.4);
}
.social-icons--colored .social-icons__item i.fa-facebook {
  background-color: #3b5998;
}
.social-icons--colored .social-icons__item i.fa-facebook:hover {
  background-color: #344e86;
}
.social-icons--colored .social-icons__item i.fa-twitter {
  background-color: #1da1f2;
}
.social-icons--colored .social-icons__item i.fa-twitter:hover {
  background-color: #0d95e8;
}
.social-icons--colored .social-icons__item i.fa-google-plus {
  background-color: #dd4b39;
}
.social-icons--colored .social-icons__item i.fa-google-plus:hover {
  background-color: #d73925;
}
.social-icons--colored .social-icons__item i.fa-linkedin {
  background-color: #0077b5;
}
.social-icons--colored .social-icons__item i.fa-linkedin:hover {
  background-color: #00669c;
}
.social-icons--colored .social-icons__item i.fa-pinterest {
  background-color: #cc2222;
}
.social-icons--colored .social-icons__item i.fa-pinterest:hover {
  background-color: #b61e1e;
}
.social-icons--colored .social-icons__item i.fa-behance {
  background-color: #2b9ad2;
}
.social-icons--colored .social-icons__item i.fa-behance:hover {
  background-color: #2b9ad2;
}
.social-icons--colored .social-icons__item i.fa-instagram {
  background-color: #507ea4;
}
.social-icons--colored .social-icons__item i.fa-instagram:hover {
  background-color: #507ea4;
}
.social-icons--colored .social-icons__item i.fa-dribbble {
  background-color: #f973a4;
}
.social-icons--colored .social-icons__item i.fa-dribbble:hover {
  background-color: #f973a4;
}
/* Pagination */
.page-pagination {
  font-size: 13px;
}
.page-pagination li {
  display: inline;
}
.page-pagination a.page-numbers,
.page-pagination .page-numbers.current {
  display: inline-block;
  margin: 0 2px;
  padding: 0 13px;
  line-height: 32px;
  height: 36px;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.page-pagination a.page-numbers {
  border-color: #d3d9dd;
  color: #576366;
}
.page-pagination .page-numbers.current,
.page-pagination a.page-numbers:hover {
  border-color: #2ed87b;
  background-color: #2ed87b;
  color: #fff;
}

/* Owl Carousel */
.owl-theme .owl-nav {
  margin-top: 0;
}
.owl-theme .owl-nav [class*=owl-] {
  position: absolute;
  top: 50%;
  font-size: 20px;
  margin: 0;
  padding: 4px 8px;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 400ms linear 0ms;
  -ms-transition: all 400ms linear 0ms;
  -o-transition: all 400ms linear 0ms;
  transition: all 400ms linear 0ms;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(0, 0, 0, 0.7);
}
.owl-carousel .owl-nav .owl-prev {
  left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.owl-carousel .owl-nav .owl-next {
  right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* Breadcrumb */
.breadcrumb {
  background-color: transparent;
  font-size: 15px;
}
.breadcrumb > li + li:before {
  color: #f1f1f1;
}
.breadcrumb > li a {
  color: #f1f1f1;
}
.breadcrumb > li a:hover,
.breadcrumb > .active {
  color: #fff;
}

/* Freelance Available */
.freelance-available {
  color: #03c103;
}
.freelance-available i.online-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin-right: 10px;
  background-color: #03c103;
}

.line {
  display: inline-block;
  width: 60px;
  height: 4px;
  border-radius: 4px;
  background-color: #eee;
}

.mix {
  display: none;
}

/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––>>> Preloader  <<<––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.loader-cube {
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -30px;
  margin-left: -30px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.loader-cube .loader-cube__item {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.loader-cube .loader-cube__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2ed87b;
  -webkit-animation: loaderAnim 2.4s infinite linear both;
  animation: loaderAnim 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.loader-cube .loader-cube__item2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.loader-cube .loader-cube__item3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.loader-cube .loader-cube__item4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.loader-cube .loader-cube__item2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loader-cube .loader-cube__item3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loader-cube .loader-cube__item4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes loaderAnim {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes loaderAnim {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––>>> Back to Top  <<<–––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.back-top {
  z-index: 9999;
  position: fixed;
  right: 30px;
  bottom: -10px;
  opacity: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: all 400ms linear 0ms;
  -ms-transition: all 400ms linear 0ms;
  -o-transition: all 400ms linear 0ms;
  transition: all 400ms linear 0ms;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}
.back-top:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.back-top.show {
  opacity: 1;
  bottom: 30px;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––>>> Header Area  <<<–––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.main-header {
  margin-bottom: 60px;
}
.navbar-default {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  top: 0;
  border-radius: 0;
  border: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
  transition: all 1s ease-in-out;
}
.navbar-default .navbar-brand {
  color: #2a3e53;
  font-size: 24px;
  height: 70px;
  line-height: 70px;
  padding: 0 20px !important; 
}
.navbar-default .navbar-nav li a {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 10px;
  color: #333;
  padding: 25px 2px;
}

.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #2ed87b;
}
.navbar-default .dropdown-menu > li > a {
  padding: 10px 20px;
  margin: 0 5px;
  color: #333;
}
.navbar-default .dropdown-menu > li > a:hover {
  background-color: #eee;
  color: #333;
}
.navbar-default .dropdown-menu {
  border-top: 3px solid #2ed87b;
}

.navbar-toggle {
  margin-top: 11px;
  border: 2px solid #ddd;
  padding: 8px;
}
.navbar-toggle .icon-bar {
  width: 30px;
  -webkit-transition: all 400ms linear 0ms;
  -ms-transition: all 400ms linear 0ms;
  -o-transition: all 400ms linear 0ms;
  transition: all 400ms linear 0ms;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
  border-color: #2ed87b;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar{
  background-color: #2ed87b;
}
@media screen and (min-width: 800px) {
  .dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    top: 120%;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .dropdown:hover .dropdown-menu {
    transform: translateY(0);
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

}
@media screen and (max-width: 768px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-default .navbar-nav li a {
    font-size: 12px;
    padding: 10px 15px;
  }
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus,
  .navbar-default .navbar-nav li+li a {
    border-top: 1px solid #e7e7e7;
  }
  .navbar-default .navbar-nav li.active a,
  .navbar-default .navbar-nav li a:hover {
    background-color: transparent;
    color: #2ed87b;
  }
  .navbar-default .navbar-brand {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
  }
  .dropdown-menu {
    padding: 0 15px;
  }
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––>>> Hero Area  <<<––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.hero-area {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
}
.hero-area:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #314555;
  opacity: .7;
  z-index: 0;
}
.hero-area .container {
  position: relative;
  z-index: 2;
  color: #fff;
}
.hero-area .hero-content h1 {
  opacity: .9;
}
.hero-area .hero-buttons .btn-link {
  color: #fff !important;
}
.hero-area .hero-buttons .hire-me-btn {
  font-size: 15px;
  border: 1px dashed #fff;
  box-shadow: 0 0 0 4px #2ed87b;
}
.hero-area .hero-buttons .hire-me-btn:hover {
  box-shadow: 0 0 0 4px #25c76f;
}
.hero-area .hero-video {
  display: block;
  float: left;
  position: relative;
  bottom: 0;
  left: 0;
  padding-left: 50px;
}
.hero-area a.hero-video,
.hero-area a.hero-video:link,
.hero-area a.hero-video:hover,
.hero-area a.hero-video:focus {
  color: #fff;
}
.hero-area .hero-video .video-icon {
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  top: 2px;
  left: 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> About Me Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.about-me-area .container {
  background-color: #fff;
  position: relative;
  top: -120px;
  z-index: 10;
}
.about-me-area > .container {
  -webkit-box-shadow: 0px -20px 60px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px -20px 60px 0px rgba(0,0,0,0.15);
  box-shadow: 0px -20px 60px 0px rgba(0,0,0,0.15);
}
.about-me-area .profile-title {
  position: relative;
}
.about-me-area .profile-title h1 {
  text-align: left;
}
.about-me-area .profile-title h1:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  display: block;
  background-color: #2ed87b;
  bottom: 0;
  left: 0;
}
.about-me-area .profile-info-list li {
  line-height: 32px;
}

.about-me-area .profile-info-list li span{
  color: #000;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> My Skills Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.my-skills-area .skills-list h6 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 13px;
}
.my-skills-area .skill-progress {
  display: block;
  width: 100%;
  height: 6px;
  position: relative;
  background-color: #dfdfdf;
  margin-bottom: 30px;
}
.my-skills-area .skill-percentage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #2ed87b;
  -webkit-transition: width .6s ease;
  -moz-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.my-skills-area .skill-percentage span {
  position: absolute;
  opacity: 0;
  right: -18px;
  bottom: 12px;
  width: 42px;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  -webkit-transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
.my-skills-area .skill-percentage span:after {
  position: absolute;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-width: 6px 4px 0 4px;
  border-style: solid;
  border-color: rgba(0,0,0,.5) transparent transparent transparent;
  bottom: -6px;
  left: 50%;
  margin-left: -4px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Get Quote Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.get-quote-area {
  position: relative;
  z-index: 1;
}
.get-quote-area:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #314555;
  opacity: .75;
  z-index: -1;
}
.get-quote-area h6 {
  line-height: 28px;
}



/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Portifolio Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.portfolio-area .portfolio-box {
  position:relative;
  overflow: hidden;
}
.portfolio-area .portfolio-box:before {
  content: "";
  position:absolute;
  width:100%;
  height:100%;
  opacity:0;
  background-color: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio-area .portfolio-box .portfolio-overlay {
  position: absolute;
  color:#fff;
  opacity:0;
  bottom: 30px;
  left: 30px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio-area .portfolio-box h3{
  font-size: 17px;
  margin-bottom: 10px;
}
.portfolio-area .portfolio-box h6 {
  opacity:0.8;
}
.portfolio-area .portfolio-box a.work-link,
.portfolio-area .portfolio-box a.img-lightbox {
  display: inline-block;
  color: #fff;
  border: solid 2px #a5a5a5;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 40px;
  border-radius:999px;
  margin-top: 18px;
  margin-right: 7px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transform: translateY(200px);
  -webkit-transform: translateY(200px);
  -o-transform: translateY(200px);
  -ms-transform: translateY(200px);
  transform: translateY(200px);
}
.portfolio-area .portfolio-box a.img-lightbox {
  font-size: 16px;
}
.portfolio-area .portfolio-box a.work-link {
  font-size: 18px;
}
.portfolio-area .portfolio-box:hover:before {
  opacity:0.5;
}
.portfolio-box:hover > .portfolio-overlay {
  opacity:1;
}
.portfolio-box:hover > .portfolio-overlay a.work-link,
.portfolio-box:hover > .portfolio-overlay a.img-lightbox { 
  color:#fff;
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.portfolio-box:hover > .portfolio-overlay a.work-link { 
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.portfolio-box:hover > .portfolio-overlay a.img-lightbox { 
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.portfolio-filter .filter {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 60px;
  text-align: center;
  margin-bottom: 10px;
}
.portfolio-filter .filter.active {
  border-color: #2ed87b;
  background-color: #2ed87b;
  color: #fff;
}

/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Experience Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.experience-area .experience-single {
  position: relative;
  padding: 20px 15px 20px 120px;
  background-color: #e7edf3;
  border-radius: 3px;
}
.experience-area .experience-img {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 15px;
  left: 15px;
  border-radius: 3px;
}
.experience-area .experience-single .date {
  display: inline-block;
  font-size: 11px;
  background-color: #2ed87b;
  color: #fff;
  padding: 2px 10px;
  margin-bottom: 12px;
  font-weight: bold;
  border-radius: 3px;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Education Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.education-area {
  background-color: #f0f4f7;
}
.timeline {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 18px;
  height: 100%;
  width: 4px;
  border-radius: 4px;
  background: rgb(215, 228, 237);
  left: 50%;
  margin-left: -2px;
}
.timeline-block {
  position: relative;
}
.timeline-block:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #2ed87b;
  top: 20px;
  right: 50%;
  margin-right: -6px;
  -webkit-box-shadow: 0 0 0 5px rgba(46, 216, 123, 0.35);
  box-shadow: 0 0 0 5px rgba(46, 216, 123, 0.35);
}
.timeline-block:nth-child(odd) .timeline-block-wrapper {
  padding-right: 30px;
}
.timeline-block:nth-child(even) .timeline-block-wrapper {
  padding-left: 30px;
}
.timeline-block .timeline-content {
  position: relative;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 4px;
}
.timeline-content::before {
  content: "";
  position: absolute;
  top: 16px;
  height: 0px;
  width: 0px;
  border-width: 7px;
  border-style: solid;
}
.timeline-block:nth-child(odd) .timeline-content::before {
  border-color: transparent transparent transparent white;
  left: 100%;
}
.timeline-block:nth-child(even) .timeline-content::before {
  border-color: transparent white transparent transparent;
  right: 100%;
}
.timeline-date {
  position: absolute;
  display: inline-block;
  padding: 3px 10px;
  color: #fff;
  background-color: rgba(0,0,0,.4);
  font-weight: bold;
  border-radius: 3px;
  top: 10px;
}
.timeline-block:nth-child(odd) .timeline-date {
  left: 50%;
  margin-left: 20px;
}
.timeline-block:nth-child(even) .timeline-date {
  right: 50%;
  margin-right: 20px;
}
.timeline-date::before {
  content: "";
  position: absolute;
  top: 10px;
  height: 0px;
  width: 0px;
  border-width: 5px;
  border-style: solid;
}
.timeline-block:nth-child(odd) .timeline-date::before {
  border-color: transparent rgba(0,0,0,.4) transparent transparent;
  right: 100%;
}
.timeline-block:nth-child(even) .timeline-date::before {
  border-color: transparent transparent transparent rgba(0,0,0,.4);
  left: 100%;
}
@media only screen and (max-width: 991px) {
  .timeline {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .timeline:before {
    left: 8px;
    margin-left: -2px;
  }
  .timeline-block:before {
    right: auto;
    left: 0;
    margin-right: 0;
  }
  .timeline-block:nth-child(odd) .timeline-block-wrapper {
    padding-right: 0;
    padding-left: 30px;
  }
  .timeline-block .timeline-content {
    padding: 55px 20px 15px 20px;
  }
  .timeline-block:nth-child(odd) .timeline-content::before {
    border-color: transparent white transparent transparent;
    left: auto;
    right: 100%;
  }
  .timeline-date {
    font-size: 12px;
    background-color: #2ed87b;
    padding: 2px 10px;
    right: auto;
    top: 20px;
  }
  .timeline-block:nth-child(odd) .timeline-date,
  .timeline-block:nth-child(even) .timeline-date {
    right: auto;
    left: 50px;
    margin-left: 0;
    margin-right: 0;
  }
  .timeline-date::before {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Pricing Table Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.pricing-plan {
  min-height: 300px;
  background-color: #f9f9f9;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #f1f1f1;
  text-align: center;
}
.pricing-plan .plan-header {
  position: relative;
  text-align: center;
  color: #fff;
}
.pricing-plan .plan-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0,0,0,.2);
  text-align: center;
  color: #fff;
}
.pricing-plan .plan-header .price {
  display: inline-block;
  font-size: 25px;
  position: relative;
  z-index: 10;
  width: 65px;
  height: 65px;
  line-height: 65px;
  margin: 40px 0;
  padding: 0;
  border-radius: 999px;
  background-color: rgba(46, 216, 123, 0.62);
}
.pricing-plan .plan-main {
  position: relative;
  padding: 50px 10px 30px;
}
.pricing-plan .plan-title {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  background-color: #2ed87b;
  color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: -20px;
  font-size: 14px;
  padding: 8px 20px;
}
.pricing-plan .plan-main ul {
  padding: 0 30px;
}
.pricing-plan .plan-main ul li {
  padding: 10px;
  font-weight: 600;
  color: #999;
  border-bottom: 1px solid #eee;
}
.pricing-plan .plan-main ul li .fa {
  padding-right: 8px;
}
.pricing-plan .plan-main ul li .fa-check {
  color: #00adef;
}
.pricing-plan .plan-main ul li .fa-close {
  color: red;
}
.pricing-plan .plan-footer {
  text-align: center;
}
.pricing-plan .plan-footer .btn {
  margin-top: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Testimonial Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.testimonials-area {
  position: relative;
  z-index: 1;
}
.testimonials-area:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .4;
  z-index: -1;
}
.testimonial-slider .item{
  padding-right: 15px;
  padding-left: 15px;
  color: #FFF;
  text-align: center;
}
.testimonial-thumb{
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  padding: 4px;
  background: rgba(255,255,255,0.3);
  border-radius: 999px;
}
.testimonial-thumb img{
  border-radius: 999px;
}
.testimonial-info {
  position: relative;
  color: #fff;
  margin: 20px 0px 0px 0px;
  line-height: 30px;
  padding: 30px 15px;
  background: rgba(255,255,255,0.3);
  border-radius: 4px;
}
.testimonial-info::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  left: 50%;
  top: -40px;
  margin-left: -10px;
  border-style: solid;
  border-width: 20px 10px 20px 10px;
  border-color: transparent transparent rgba(255,255,255,0.2) transparent;
}
.testimonial-info .testimonial-text {
  position: relative;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.5px;
}
.testimonial-info .testimonial-text::first-letter {
  margin-left: 30px;
}
.testimonial-info .testimonial-text::after {
  content: "\f10d";
  font: normal normal normal 18px/1 FontAwesome;
  font-style: italic;
  position: absolute;
  left: 6px;
  top: 6px;
  color: rgba(255,255,255,0.8);
}
.testimonial-info .client-designation {
  color: rgba(255,255,255,0.9);
}
.testimonials-area .owl-dots {
  padding-top: 30px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Latest News Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */

.blog-area .entry .entry-media {
  position: relative;
}
.blog-area .entry .entry-title {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.8;
}
.blog-area .entry .entry-footer {
  position: relative;
  background-color: #f1f1f1;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
}
.blog-area .entry .entry-footer .btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
}
.blog-area .entry .entry-footer .btn:hover,
.blog-area .entry .entry-footer .btn:focus {
  background-color: #2ed87b;
}
.entry .entry-info {
  color: #999;
}
.blog-area .entry-media .blog-quote {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 69, 85, 0.64);
  color: #fff;
  border-left: 0;
  font-size: 16px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> My Team Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.my-team-area {
  background-color: #f0f4f7;
}
.single-author-info {
  background: #fff;
  padding: 20px;
}
.single-author-img {
  position: relative;
}
.social-links {
  height: 100%;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  width: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.5);
  transform: scale(0);
}
.single-author:hover .social-links {
  opacity: 1;
  visibility: visible;
  transform: scale(1)
}
.social-table {
  display: table;
  height: 100%;
  width: 100%;
}
.social-table ul {
  display: table-cell;
  vertical-align: middle;
}
.social-table ul a {
  display: inline-block;
  background: #2ed87b;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: all 0.5s ease 0s;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Contact Us Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.contact-us-area .contact-form,
.contact-us-area .contact-info {
  background-color: #f0f4f7;
  border: 1px solid #e7edf3;
}
.contact-us-area .contact-form {
  padding: 30px 20px 17px 20px;
}
.contact-us-area .contact-info {
  padding: 30px 20px;
}
.contact-us-area .contact-form .form-control {
  background-color: #fff;
}
.contact-us-area .form-control.input-error {
  border-color: #c00;
}
.contact-info .contact-list li {
  position: relative;
  padding: 0 0 0 55px;
  margin-bottom: 20px;
}
.contact-info .contact-list li h5 {
  margin-bottom: 6px;
}
.contact-info .contact-list li .icon {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  background-color: #2ed87b;
  color: white;
  border-radius: 3px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 0 2px #2ed87b;
  box-shadow: 0 0 0 2px #2ed87b;
}
.contact-info .social-icons .social-icons__item .fa {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 16px;
  margin-top: 10px;
}
.contact-us-area .contact-response {
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
}
.contact-us-area .contact-response.text-error {
  color: #c00;
}
.contact-us-area .contact-response.text-valid {
  color: #38a569;
}

/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Subscribe Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.subscribe-area {
  position: relative;
  z-index: 1;
}
.subscribe-area:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #314555;
  opacity: .5;
  z-index: -1;
}
.subscribe-form {
  position: relative;
  display: block;
  width: 100%;
  background-color: #fff;
  height: 46px;
  padding: 0 160px 0 10px;
  border-radius: 999px;
}
.subscribe-form .form-control {
  border: 0;
}
.subscribe-form .btn {
  position: absolute;
  right: 3px;
  top: 3px;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Blog Page  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.recent-posts .recent-post .post-meta {
  font-size: 12px;
  color: #717f86;
}
.recent-posts .recent-post .media-left img {
  width: 80px;
  height: 80px;
}
.blog-post-list {
  padding: 10px 0 10px 40px;
}
.blog-post-list li {
  margin-bottom: 10px;
}
.blog-post-list li .fa {
  color: #2ed87b;
  margin-right: 8px;
}

/* Comments Style */
.commentlist li article {
  margin-bottom: 20px;
  overflow: hidden;
}
.commentlist .author-image {
  height: 70px;
  width: 70px;
  float: left;
  margin-right: 20px;
}
.commentlist .author-image img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.commentlist .comment-wrapper {
  margin-left: 90px;
}
.commentlist .comment-content {
  background-color: #f0f4f7;
  padding: 15px;
  border-radius: 4px;
}
.commentlist .comment-author {
  margin-bottom: 5px;
}
.commentlist .comment-author + p {
  margin-bottom: 0;
}
.commentlist .children {
  padding-left: 90px;
}
.commentlist .comment-meta {
  padding: 5px;
}
.commentlist .reply {
  text-transform: uppercase;
}
.commentlist .reply .fa {
  margin-right: 10px;
}

/* Sidebar Style */
.sidebar-list li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #d3d3d3;
}
.sidebar-list li a {
  display: block;
  font-weight: 300;
  padding-left: 20px;
  position: relative;
}
.sidebar-list li a:after {
  content: "\f0da";
  font-family: "FontAwesome";
  font-size: 15px;
  line-height: 17px;
  position: absolute;
  left: 2px;
  top: 3px;
}
.tags-list a {
  background-color: #97a0af;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Page Error 404  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.error-number {
  display: block;
  font-size: 200px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 150px;
  margin-top: 0;
  text-align: center;
}

/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Single Work Page  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.about-work h3 {
  text-align: left;
  position: relative;
}
.about-work h3:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  display: block;
  background-color: #2ed87b;
  bottom: 0;
  left: 0;
}
.work-details-list li {
  line-height: 34px;
}
.work-details-list li span {
  color: #314555;
}
.work-details-list li span .fa {
  margin-right: 8px;
}


/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––>>> Footer Area  <<<–––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
.main-footer {
  background-color: #1e2933;
  color: #fff;
}
.main-footer a {
  color: #fff;
}
.main-footer p {
  line-height: 2.3;
}
.main-footer .contact-box {
  position: relative;
  padding-left: 64px;
}
.main-footer .contact-box-icon {
  font-size: 30px;
  position: absolute;
  top: 2px;
  left: 0;
  width: 54px;
  height: 54px;
  line-height: 52px;
  border: 2px solid transparent;
  text-align: center;
  border-radius: 50%;
}
.main-footer .contact-box-icon .lnr-envelope {
  font-size: 32px;
  position: relative;
  top: -2px;
  right: -1px;
}
.main-footer .contact-box-one .contact-box-icon {
  color: #f50;
  border-color: #f50;
}
.main-footer .contact-box-two .contact-box-icon {
  color: #00BCD4;
  border-color: #00BCD4;
}
.main-footer .contact-box-three .contact-box-icon {
  color: #E91E63;
  border-color: #E91E63;
}
.main-footer .contact-box-four .contact-box-icon {
  color: #2ed87b;
  border-color: #2ed87b;
}
.main-footer .sub-footer {
  background-color: #10171d;
  position: relative;
  padding: 25px 0;
}
